<robot name = "mycar" xmlns:xacro = "http://wiki.ros.org/xacro">

    <!-- 包含惯性矩阵文件 -->
    <xacro:include filename = "head.xacro"/>

    <!-- 硬件可视化，或者说模型样子 -->
    <!-- 底盘 -->
    <xacro:include filename = "car_base.urdf.xacro"/>
    <!-- 摄像头 -->
    <xacro:include filename = "car_camera.urdf.xacro"/>
    <!-- 雷达 -->
    <xacro:include filename = "car_laser.urdf.xacro"/>

    <!-- Gazebo配置 -->
    <!-- 传动装置 -->
    <xacro:include filename = "move.urdf.xacro" />
    <!-- 雷达仿真 -->
    <xacro:include filename = "sensors_laser.urdf.xacro" />
    <!-- 摄像头仿真 -->
    <xacro:include filename = "sensors_camera.urdf.xacro" />
</robot>